<div class="container-fluid pad-bot">
  <div class="row">
      <table class="table">
        <thead class="not-active">
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>ID</th>            
            <th>Address</th>
            <th>Danger</th>            
            <th>Created at</th> 
            <th>Reported by</th>                                                
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody class="not-active">
            <tr>
              <td><%= @client.name %></td>
              <td><%= @client.country %></td>                        
              <td><%= @client.national_id %></td>              
              <td><%= @client.address%></td>
              <td><%= @client.danger %></td>          
              <td><%= @client.created_at.strftime("%m/%d/%Y") %></td>
              <td>
                <button type="button" class="active btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg"><%= @client.user.hostal_name %></button>  
              </td>
            </tr>
        </tbody>
      </table>


<% if not @client.document.nil?%>
<p>
  <strong>Document:</strong>
  <!-- <iframe src="http://localhost:3000/clients/<%=@client.id%>/pdf" style="width:718px; height:700px;" frameborder="0"></iframe> -->
  <%# image_tag(url_for(:controller => 'clients', :action => '_view_pdf', :id => @client.document.id), id: "content-header-pdf", alt: "" ) %>
  <%= link_to @client.document.name, pdf_client_path(@client.id) %>
</p>
<%end%>

<% if not @client.comment.empty?%>
  <p>
    <strong>Comment:</strong>
    <%= @client.comment %>
  </p>
<%end%>

<%if @client.user_id == current_user.id%>
  <%= link_to 'Edit', edit_client_path(@client) %></td>|
  <%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %></td>|
  <%= link_to 'Back', root_path %>
<%end%>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <table class="table table-hover not-active">
            <thead>
                <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Persone in charge</th>            
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                    <tr>
                        <td><%= @client.user.hostal_name%></td>
                        <td><%= @client.user.address%></td>
                        <td><%= @client.user.phone%></td>
                        <td><%= @client.user.manager%></td> 
                    </tr>
            </tbody>
        </table> 
    </div>
  </div>
</div>