<div class="container-fluid pad-bot">
  <div class="row">
    <p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country %>
</p>

<p>
  <strong>National:</strong>
  <%= @client.national_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Document:</strong>
  <%# @client.image_id %>
</p>

<p>
  <strong>Danger:</strong>
  <%= @client.danger %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @client.created_at %>
</p>

<p>
  <strong>Hostal:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @client.comment %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %></td>
<%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', root_path %>
  </div>
</div>
