<!DOCTYPE html>
<html>
<head>
  <title>PlayaBl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="bg-success"><%= notice %></p>

<div class="container-fluid line-bot">
	<h1><kbd><%= link_to "Black-list", root_path, {:style=>'color:#FFFFFF; text-decoration:none'}%></kbd></h1>
	<% if user_signed_in? %>
		<%= button_to "Sign-out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger" %>
	<%end%>
	</br>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-sm-12 inline">
					<i class="fa fa-user-secret fa-2x pad-right"></i>
					<p class="pad-right text-success"> Private web-app for Playa Del Carmen Hostels </p>
					<p class="text-danger"> Version: 1.0 (Beta)</p>							
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 inline">
					<i class="fa fa-envelope fa-2x pad-right"></i>
					<%= mail_to "antoinebe35@gmail.com", "Contact Antoine (web-app owner) - English, Español, Français, " %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 inline">
					<i class="fa fa-comment fa-2x pad-right"></i>
					<p class="text-warning pad-right">Antoine:</p>
					<mark>Voy trabajando en la version 1.1 donde habra un chat</mark>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 inline">
					<i class="fa fa-search fa-2x pad-right"></i>
					<div class="input-group">	
						<%= form_tag root_path, :method => 'get' do %>
						  <p>
						    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for..." %>
						    <span class="input-group-btn">
						    	<%= submit_tag "Search", :name => nil, class: "btn btn-default"%>
						    </span>
						  </p>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 inline">
					<i class="fa fa-user-plus fa-2x pad-right"></i>
					<%= link_to 'Add someone to the Black-list', new_client_path, {:style=>'color:#333;'} %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= yield %>

</body>
</html>